
<div class="container-layout">
  <app-side-menu-user></app-side-menu-user>

  <!-- Main Content -->
  <div class="content-area">
    <div class="form-container">
      <!-- Pills content -->
      <div class="tab-content">
        <!-- Consulter Compte Tab -->
        <div class="tab-pane fade show active" id="pills-consulter" role="tabpanel">
          <h5 class="mb-4">Consulter Compte</h5>

            <!-- Email input -->

            <form [formGroup]="updateForm">
            <!-- Nom -->
            <div class="form-group">
              <input type="text" id="nom" name="nom" [value]="userdata.nom " placeholder="Nom " class="form-control" readonly/>

            </div>

            <!-- Prénom -->
            <div class="form-group">
              <input type="text" id="prenom" [value]="userdata.prenom " name="prenom" placeholder="Prénom " class="form-control" readonly/>

            </div>

            <!-- Numéro de téléphone -->
            <div class="form-group">
              <input type="text" id="numtel" [value]="userdata.numtel " name="numtel" placeholder="Numéro de Téléphone" class="form-control" readonly/>

            </div>

            <!-- Adresse -->
            <div class="form-group">
              <input type="text" id="adresse" [value]="userdata.adresse " name="adresse" placeholder="Adresse" class="form-control" readonly/>

            </div>

            <!-- Date de naissance -->
            <div class="form-group">
              <input type="date" id="datenaissance"[value]="userdata.datenaissance?.split('T')[0]" name="datenaissance"  class="form-control" readonly/>

            </div>

            <!-- État -->
            <div class="form-group">
              <input type="text" id="etat" [value]="userdata.etat " name="etat" placeholder="Etat" class="form-control" readonly/>

              <label class="form-label" for="etat"></label>
            </div>



            <!-- ID caché -->
            <input type="hidden" formControlName="id" />

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  <div class="container-layout">
    <app-side-menu></app-side-menu>
    -- Main Content --
    <div class="content-area">
      <div class="form-container">
        -- Pills content ->
        <div class="tab-content">
          -- Consulter Compte Tab --
          <div class="tab-pane fade show active" id="pills-consulter" role="tabpanel">
            <h5 class="mb-4">Consulter Compte</h5>
            <form (ngSubmit)="rechercher()">
              -- Email input --
              <div class="form-outline mb-4">
                <input type="email" id="consulterEmail" class="form-control" [value]="compte.email || ''" readonly/>

              </div>
              <div class="form-outline mb-4">
                <input type="text" id="consulternom" class="form-control" [value]="compte.nom || ''" readonly/>

              </div>
              <div class="form-outline mb-4">
                <input type="text" id="consulterprenom" class="form-control" [value]="compte.prenom || ''" readonly/>

              </div>
              -- Submit button --
              <button type="submit" class="btn btn-primary btn-block mb-4">Rechercher</button>
            </form>
          </div>


      </div>
    </div>
  </div>
  </div>
  -- Include MDB Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>

