.full-screen-bg {
    background-image: url('/assets/img/img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.appointment-form {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
}


.text {
    text-align: center;
    margin-bottom: 20px;
    color: darkblue;

    font-size: 1.5em;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reserve-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    font-size: 1em;
}

.reserve-button:hover {
    background-color: #0056b3;

}
