<div class="full-screen-bg">
    <div class="appointment-form">
      <h3 class="text">Réservez un rendez-vous</h3>
  
      <form (ngSubmit)="submitForm()">
        <div>
            <label for="patientName">Nom du patient:</label>
            <input type="text" id="patientName" [(ngModel)]="formData.userName" name="userName" readonly />
          </div>
        
          
          <label for="date">Date:</label>
          <input type="date" id="date" [(ngModel)]="formData.date" name="date" required />
        
  
        <div>
          <label for="heure">Heure:</label>
          <input type="time" id="heure" [(ngModel)]="formData.heure" name="heure" required />
        </div>
  
        <button type="submit" class="reserve-button">Réserver le rendez-vous</button>
      </form>
    </div>
  </div>
  